{% extends "base.html" %}

{% block content %}
<div class="row">
<div class="col s12 m12 l10">
<article>
  <h1>{{ receita.nome_receita }}</h1><br>
    <p>Autor(a): {{ receita.autor }}, {{ receita.dataCadastro }}</p>
    <p>{{ receita.descricao }}</p>
    <img  src="/{{ receita.imagens.0.imagem }}" title="Imagem da receita: {{ receita.nome_receita }}" alt="Imagem da receita: {{ receita.nome_receita }}" />

  <h2>Ingredientes</h2>
    <ul>
        {% for ingrediente in receita.ingredientes %}
		<li>{{ ingrediente.quantidade}} {{ ingrediente.unidade}} de {{ ingrediente.nome_ingrediente}}</li>
        {% endfor %}
    </ul>

    <h2>Modo de Preparo</h2>
    <p>
        {{receita.instrucoes_preparo}}
    </p>

    <div class="input-field col s12 m12 l6">
      <a class="btn waves-effect waves-light" href="{% url 'site_receitas:simples_xml' 'simples' receita.id %}" style="min-width: 210px">Versão impressão</a>
    </div>

    <div class="input-field col s12 m12 l6">
      <a class="btn waves-effect waves-light" href="{% url 'site_receitas:simples_xml' 'xml' receita.id %}" style="min-width: 210px">Versão XML</a>
    </div>
</article>
</div>

{% endblock content %}