{% extends "base.html" %}

{% block content %}
<article class="row Doces">
  <h3>Doces</h3>

  <div class="row">

    {% for doce in doces %}
    <div class="col s12 m6 l4">
      <div class="card medium">
        <div class="card-image">
          <a href="{% url 'site_receitas:detalheReceita' doce.id %}"><img src="/{{ doce.imagens.0.imagem }}" alt="Imagem da receita: {{ doce.nome_receita }}"/></a>
          <span class="card-title">{{ doce.nome_receita }}</span>
        </div>

        <div class="card-content">
          <p>{{ doce.descricao }}</p>
          <p><b>Por: </b>{{ doce.autor }}</p>
          <p><b>Nota: </b>{{ doce.rating }} ({{ doce.num_votos }} avaliações)</p>
        </div>

        <div class="card-action">
          <a href="{% url 'site_receitas:detalheReceita' doce.id %}">Receita</a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</article>
{% endblock content %}
