{% extends "base.html" %}

{% block content %}
<section class="col s12 m8 l8">
        <div class="row">
            <h2>Entrar</h2>
            <p class="red-text">{{ errors }}</p>
            <form action="{% url 'site_receitas:entrar' %}" method="post" class="col s12">
                {% csrf_token %}
                <div class="row">
                    <!--Nome de usuário-->
                    <div class="input-field col s12 m8">
                        <input class="validate" type="email" id="usuario" name="nome_usuario" size="30" maxlength="50" required title="Precisa ser um e-mail" autofocus>
                        <label class="active" for="usuario" data-error="Usuário é um e-mail">
                            Nome de usuário (e-mail):
                        </label>
                    </div>
                    <!--Senha-->
                    <div class="input-field col s12 m8">
                        <input class="validate" type="password" name="senha" id="senha" size="15" maxlength="15" required pattern=".{8,}" title="8 ou mais caracteres">
                        <label class="active" for="senha" data-error="Mínimo de 8 caracteres">
                            Senha:
                        </label>

                    </div>
                </div>

                <button class="btn waves-effect waves-light" type="submit" name="action">Entrar
                <i class="material-icons right">forward</i>
            </button>
            </form>
        </div>
</section>
{% endblock content %}